@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Century Gothic";
}

h1 {
  color: cornflowerblue;
}

h2 {
  color: brown;
}

h3 {
  color: darkolivegreen;
}

h4 {
  color: gold;
}

h5 {
  color: mediumvioletred;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
