form {
display: flex;
  mat-form-field {
    width: 400px;
  }
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 400px;
  padding-left: 0;

  li {
    border: 1px cornflowerblue solid;
    padding: 5px;

    &.no-todos {
      font-style: italic;
      border: 1px cornflowerblue dashed;
      color: grey;
    }
  }
}
