<div class="container">

  <form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Was ist zu tun?</mat-label>
      <input matInput type="text" [formControl]="todoInput"/>
      @if (todoInput.hasError('minlength')) {
        <mat-error>Ein Todo muss aus mindestens 3 Zeichen bestehen.</mat-error>
      }
    </mat-form-field>
  </form>

  <h2>{{ subtitle }}</h2>

  <ul>
    @for (todo of todos; track todo.id; let index = $index) {
      <li>
        <a
          [routerLink]="['/detail', todo.id]"
          [queryParams]="{ label: todo.label }"
        >
          {{ todo.label | dashes: index }}
        </a>
      </li>
    } @empty {
      <li class="no-todos">Keine Einträge</li>
    }
  </ul>

  <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
</div>
